/* Vista de la referencia del cliente en el Kanbal de contat center*/
.o_field_char.o_field_widget { /*Nombre del campo donde se encuentra la referencia en la vista kanban*/
    margin: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    font-family: "Roboto", "Odoo Unicode Support Noto", sans-serif;
    font-size: 1.08333333rem;
    font-weight: 400;
    line-height: 1.5;
    color: #adb5bd !important;
    text-align: left;
    margin: 10px;
}
