
/* Vista de Kanbal de contat center
.oe_kanban_bottom_right {
    /* color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    padding: 0 15px 0 0; 
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    flex-direction: column;
    gap: 4px;
} */